<!DOCTYPE html>
<html>
<head>
    <title>Patients</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->  
    <link rel="icon" type="image/png" href="/static/images/icons/favicon.ico"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/static/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/static/fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/static/vendor/animate/animate.css">
    <!--===============================================================================================-->  
    <link rel="stylesheet" type="text/css" href="/static/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/static/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/static/vendor/select2/select2.min.css">
    <!--===============================================================================================-->  
    <link rel="stylesheet" type="text/css" href="/static/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/static/css/util.css">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <!--===============================================================================================-->
</head>
<body>
  <div class="limiter">
    <div class="wrap-navbar">
      <div class='hover-edit' style="padding-left: 5px; padding-right: 5px;">
        <a href='/'>Home</a>
      </div>
      <div class='hover-logout'>
        <a href="{% url 'companies_view' %}">Volver </a>
        <a href="{% url 'patient_add' company.id %}">Agregar Paciente</a>
        <a href="{% url 'company_edit' company.id %}">Editar Entidad</a>
      </div>
      <div class='hover-delete'>
        <a onclick="return confirm('Estas Seguro?');" 
            href="{% url 'company_delete' company.id %}">Eliminar {{company.name}}</a>
        <a href='/accounts/logout'  style="float: right;">Log out</a>
        </div>
      <form  method='POST' action="{% url 'patient_search' %}" style="float: right;">
        {% csrf_token %}
        <input type="text" placeholder="Search.." name="data">
        <button type="submit"><i class="fa fa-search"></i></button>
      </form> 
  </div>
</div>
{% block content %}

{% endblock %}
</body>
</html>
