{% extends 'navbar_2.html' %}
{% block content %}
{% load static %}

<div class="container-list">
  <body>
  <div class='box-35'>
    <br>
    <h4>
    {{pacient.name}} {{pacient.name_second}} {{pacient.name_last}}
    </h4>
    <br>
    <table>
      <tr style='border-color:white;'>
        <td style='border-color:white;'>DNI: {{pacient.id}}</td>
        <td style='border-color:white;'>Sexo: {{pacient.sex}}</td>
      </tr>
      <tr style='border-color:white;'>
        <td style='border-color:white;'>Domicilio:</td>
        <td style='border-color:white;'>{{pacient.address}}</td>
      </tr>
      <tr style='border-color:white;'>
        <td style='border-color:white;'>Telefono:</td>
        <td style='border-color:white;'>{{pacient.phone}}</td>
      </tr>
      <tr style='border-color:white;'>
        <td style='border-color:white;'>Nacimiento:</td>
        <td style='border-color:white;'>{{pacient.date_of_birth}}</td>
        <td style='border-color:white;'>Edad Arterial:</td>
        <td style='border-color:white;'>{{pacient.arterial_age}}</td>
      </tr>
    </table>
    <table style='padding:30px; font-size: smaller;'>
      <tr>
        <th style='padding:5px;'></th>
        <th style='padding:5px;'></th>
        <th style='padding:5px;'>Tipo</th>
        <th style='padding:5px;'>Inicio</th>
        <th style='padding:5px;'>Final</th>
        <th style='padding:5px;'>Cantidad</th>
      </tr>
      <tr>
        <td style="background: #4A97D4; color:white;">Tabaquismo</td>
        <td>{{pacient.smoke}}</tb>
        <td> </td>
        <td>{{pacient.smoke_duration|date:"Y"}}</tb>
        <td>{{pacient.smoke_quit|date:"Y"}}</tb>
        <td>{{pacient.smoke_quantity}}</td>
      </tr>
      <tr>
        <td style="background: #4A97D4; color:white;">Diabetes Mellitus</tb>
        <td>{{pacient.diabetes}}</tb>
        <td>{{pacient.diabetes_type}}</tb>
        <td>{{pacient.diebetes_date|date:"Y"}}</tb>
        <td></td>
        <td></td>
      <tr>
        <td style="background: #4A97D4; color:white;">Hipertensión Arterial</td>
        <td>{{pacient.hyper}}</td>
        <td>{{pacient.hyper_type}}</td>
        <td>{{pacient.hyper_date|date:"Y"}}</td>
        <td></td>
        <td></td>
      </tr>
          <tr>
        <td style="background: #4A97D4; color:white;">Dislipidemia</td>
        <td>{{pacient.dislipidemia}}</td>
        <td>{{pacient.dislipidemia_type}}</td>
        <td>{{pacient.dislipidemia_date|date:"Y"}}</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td style="background: #4A97D4; color:white;">IRC</td>
        <td>{{pacient.irc}}</td>
        <td>{{pacient.irc_type}}</td>
        <td>{{pacient.irc_date|date:"Y"}}</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td style="background: #4A97D4; color:white;">IAM</td>
        <td>{{pacient.iam}}</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td style="background: #4A97D4; color:white;">ACV</td>
        <td>{{pacient.acv}}</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td style="background: #4A97D4; color:white;">Revasc</td>
        <td>{{pacient.revasc}}</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr> 
        <td style="background: #4A97D4; color:white;">ENFVP</td>
        <td>{{pacient.enfvp}}</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td style="background: #4A97D4; color:white;">ACV AIT</td>
        <td>{{pacient.acv_ait}}</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td style="background: #4A97D4; color:white;">FECVT</td>
        <td>{{pacient.fecvt}}</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </table>

  </div>
  <div class='box-65'>
  <label>Detalles médicos: </label> {{pacient.medical_details}}<br>

    {% if studies_list %}
      <table style="width:100%; top: 0;">
        <tr>
          <th>Fecha</th>
          <th>Comentarios</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>

    {% for studies in studies_list %}
      <tr>
        <td style='width: 120px;'>
          <a class=" "href="/pacient/{{pacient.id}}/{{studies.id}}"> {{studies.date}}</a>
        </td>
        <td>{{studies.comments}}</td>
        <td style="width: 60px;"><div class="hover-edit"><a href="/pacient/{{pacient.id}}/{{studies.id}}/edit"> Editar</a></div></td>
        <td style="width: 60px;"><div class="hover-edit"><a href="{% url 'export_pdf' pacient.id studies.id%}">Imprimir</a></div></td>
        <td style="width: 60px;"><div class="hover-delete"><a href="/pacient/{{pacient.id}}/{{studies.id}}/delete">Eliminar</a></div></td>
      </tr>
    {% endfor %}
      </table>
    {% else %}
      <p style="display:center;">No hay estudios.</p>
    {% endif %}
  </div>
  </body>
</div>
{% endblock %}



