{% extends 'navbar.html' %}
{% block content %}
{% load static %}
<form method='POST' action='{% url 'pacient_add'%}'>
  {% csrf_token %}
  
  <div class="container-list">
    <div style='padding:10px;'> <h4>Nuevo Paciente </h4></div><br>
    <div>
      <label for='inputName' >Nombre Completo:</label>
      <input id='inputName' name='name' type="text" placeholder="Nombre"required='' >
      
      <input id='inputSecondName' name='name_second'type="text" placeholder="Segundo Nombre">
      
      <input id='inputLastName' name='name_last' type="text" placeholder="Apellido" required=''>

      <input style='width: 150px;' name='id' min='1000000' max='100000000' type="number" placeholder="DNI" required=''>
    </div>
    <div>
      
      <select id='id_sex' name="sex" required=''>
        <option value='' selected=''> Sexo </option>
        <option value='M'> Masculino </option>
        <option value='F'> Femenino </option>
      </select>

      <select name="race" required=''>
        <option value='' selected=''> Raza </option>
        <option value='W'> Blanca </option>
        <option value='B'> Negra </option>
      </select>

      <input id='inputAddress' name='address' type="text" placeholder="Direccion" required=''>

      <input id='inputPhone' name='phone' min='1000000' type="number" placeholder="Telefono" required=''>
      
      <label for='inputName' >Fecha de Nacimiento:</label>
      <input id='inputBirthDate' name='date_of_birth' type="date" placeholder="Fecha de Nacimiento" required=''>
    </div>
    <div>
      <br>

      <div style='display:inline; margin-top:5px; margin-bottom:10px;'>
        <label for='inputSmoke' style='background: rgba(0, 0, 0, 0.05); border-radius: 5px; padding: 6px;' >Fumador:</label>
        <input id='inputSmoke' name='smoke' type="checkbox" onclick='unhide("smoke")'>
      <!-- hacer que se despliege -->
        <div id='smoke' style='display:none; overflow:hidden;'>
          <input style='width: 257px' id='inputSmokeQuantity' type="int" placeholder="Cantidad" name='smoke_quantity'>

          <label for='inputSmokeDuration' style='margin: 5px;' >Duración:</label>
          <input style='margin-left: 20px;' type="date" name='smoke_duration'>

          <label for='inputSmokeQuit' style='margin: 5px;'> Finalización: </label>
          <input id='inputSmokeQuit' type="date" placeholder="Fecha de Nacimiento" name='smoke_quit'>
          <br>
        </div>
      </div>
      <!--  -->

      <div style='display:inline; margin-top:5px; margin-bottom:10px;'>
        <label style='background: rgba(0, 0, 0, 0.05); border-radius: 5px; padding:7px' for='inputHyper' >Hipertenso:</label>
        <input id='inputHyper' type="checkbox" name='hyper' onclick='unhide("hyper")'>
      <!-- Despliege -->
        <div id='hyper' style='display:none; overflow:hidden;'>
          <select style='width:283px;' name="hyper_type">
            <option value='' selected=''> Tipo </option>
            <option value='Primaria'> Primaria  </option>
            <option value='Secundaria'> Secundaria </option>
          </select>

          <label for='inputHyperDate' style='margin: 5px;' >Fecha de Inicio:</label>
          <input id='inputHyperDate' type="date" name='hyper_date'>
          <br>
      </div>
      <!--  -->
      </div>

      <div style='display:inline; margin-top:5px; margin-bottom:10px;'>
        <label style='background: rgba(0, 0, 0, 0.05); border-radius: 5px; padding:7px' for='inputDislipidemia' >Dislipidemia:</label>
        <input id='inputDislipidemia' name='displidemia' type="checkbox" onclick='unhide("dislipidemia")'>
      <!-- Despliege -->
        <div id='dislipidemia' style='width:1200px; display:none; overflow:hidden;'>
          <select style='width:284px;' name="dislipidemia_type">
            <option value='' selected=''> Tipo </option>
            <option value='I'> I  </option>
            <option value='IIa'> IIa </option>
            <option value='IIb'> IIb </option>
            <option value='III'> III </option>
            <option value='IV'> IV </option>
            <option value='V'> V </option>
          </select>

          <label for='inputDislipidemiaDate' style='margin: 5px;' >Fecha de Inicio:</label>
          <input id='inputDislipidemiaDate' name='dispilidemia_date' type="date">
          <br>
        </div>
      <!--  -->
      </div>
      
      <div style='display:inline; margin-top:5px; margin-bottom:10px;'>
        <label style='background: rgba(0, 0, 0, 0.05); border-radius: 5px; padding:7px' for='inputIRC'>IRC:</label>
        <input id='inputIRC' name='irc' type="checkbox" onclick='unhide("irc")'>
      <!-- Despliege -->
        <div id='irc' style='display:none;'>

          <select style='width:284px;' name="irc_type">
            <option value='' selected=''> Tipo </option>
            <option value='G1'> G1  </option>
            <option value='G2'> G2 </option>
            <option value='G3a'> G3a </option>
            <option value='G3b'> G3b </option>
            <option value='G4'> G4 </option>
            <option value='G5'> G5 </option>
          </select>
            <label for='inputIRCDate' style='margin: 5px;'>Fecha de Inicio:</label>
            <input id='inputIRCDate' type="date" name='irc_date'>
          <br>
        </div>
      </div>
      
      <div style='display:inline;width:1200px; margin-top:5px; margin-bottom:10px;'>
        <label style='background: rgba(0, 0, 0, 0.05); border-radius: 5px; padding:7px' for='inputDiabetes'>Diabetes:</label>
        <input id='inputDiabetes' type="checkbox" name='diabetes' onclick='unhide("diabetes")'>
      <!-- Desplegar -->
        <div id='diabetes' style='display:none;'>

          <select style='width:284px;' name="diabetes_type">
            <option value='' selected=''> Tipo </option>
            <option value='1'> 1  </option>
            <option value='2'> 2 </option>
            <option value='3'> 3 </option>
            <option value='4'> 4 </option>
            <option value='5'> 5 </option>
          </select>
          <label for='inputDiabetesDate' style='margin: 5px;'>Fecha de Inicio:</label>
          <input id='inputDiabetesDate' type="date" name='diabetes_date'>
          <br>
        </div>
      </div>
    </div>
    <!--  -->
    <div style='height:92px; width:1238px; display: block;'>
      <br>
      <div style='display:contents'>
    <div style='width:300px; display:inline'>
      <label style='background: rgba(0, 0, 0, 0.05); border-radius: 5px; padding:7px' for='inputIAM'>Antecedentes IAM:</label>
      <input id='inputIAM' type="checkbox" name='iam'>

      <label style='background: rgba(0, 0, 0, 0.05); border-radius: 5px; padding:7px' for='inputACV'>Antecedentes ACV:</label>
      <input id='inputACV' type="checkbox" name='acv'>
    </div>
    
    <div style='width:300px; display:inline'>
      <label style='background: rgba(0, 0, 0, 0.05); border-radius: 5px; padding:7px' for='inputRevasc'>Antecedentes Revasc:</label>
      <input id='inputRevasc' type="checkbox" name='revasc'> 

      <label style='background: rgba(0, 0, 0, 0.05); border-radius: 5px; padding:7px' for='inputEnfvp'>Antecedentes Enf VP:</label>
      <input id='inputEnfvp' type="checkbox" name='enfvp'>
    </div>
    
    <div style='width:300px; display:inline'>
      <label style='background: rgba(0, 0, 0, 0.05); border-radius: 5px; padding:7px' for='inputAcv_ait'>Antecedentes ACV-AIT:</label>
      <input id='inputAcv_ait' type="checkbox" name='acv_ait'>

      <label style='background: rgba(0, 0, 0, 0.05); border-radius: 5px; padding:7px' for='inputFecvt'>Antecedentes FECVT:</label>
      <input id='inputFecvt' type="checkbox" name='fecvt'>
    </div>
    </div>
    </div>
    <!-- <input style='width:100%;' id='inputMedicalDetails' type="text" placeholder="Detalles medicos" name='medical_details'> -->
    <div>
    <label>Detalles médicos:</label><br>
    <textarea style='background-color: #e0dddd;' rows="4" cols="50" name="medical_details"></textarea>
    </div>
    
    <div style='width:100%; text-align: center;'>
    <button type="submit">Guardar</button>
    </div>

  </div>
</form>
<script>
function unhide(id) {
    var x = document.getElementById(id);
    if (x.style.display === "none") {
        x.style.display = "inline";
        x.style.width = "100%"
    } else {
        x.style.display = "none";
    }
}
</script>


{% endblock %}


<!--       <input style='width:70px' id='inputDiabetesType' type="int" placeholder="Tipo">

      <input style='width:120px' id='inputDiabetesCHOLLevel' type="int" placeholder="Nivel de CHOL">

      <input style='width:110px' id='inputDiabetesHDLLevel' type="int" placeholder="Nivel de HDL">

      <input style='width:110px' id='inputDiabetesLDLLevel' type="int" placeholder="Nivel de LDL">

      <input style='width:110px' id='inputDiabetesTRILevel' type="int" placeholder="Nivel de TRI"> -->