{% extends 'navbar.html' %}
{% block content %}
{% load static %}
<div class="container-list">
  <body>
    {% if patient_list %}
      <table style="width:100%; top: 0;">
        <tr>
          <th>Nombre</th>
          <th>DNI</th>
          <th>Estudios</th>
          <th>Ultimo Estudio</th>
        </tr>


    {% for patient in patient_list %}
      <tr>
        <td style='text-align: left'>
          <a class=" "href="/patient/{{ patient.id }}"> {{ patient.name}} {{patient.name_middle}} {{patient.name_last}}
          </a>
        </td>
        <td>{{patient.id}}</td>
        <td>{{ammount_studies|get_item:patient.id}}</td>
        <td>{{last_studies_date|get_item:patient.id}}</td>
      </tr>
    {% endfor %}
      </table>
    {% else %}
      <p>No hay patientes con esa busqueda.</p>
    {% endif %}
  </body>
</div>
{% endblock %}