{% extends 'navbar_study.html' %}
{% block content %}
{% load static %}
<form method='POST' action='{% url 'study_edit' company.id patient.id study.id %}'>
  {% csrf_token %}
  
  <div class="container-list">
      <br>
      <div style='text-align: center;'>
        <label for='inputName' >Fecha:</label>
        <input id='inputName' name='date' type="date" value="{{study.date|date:"Y-m-d"}}" required=''>
        <input name='doctor' type="text" value="{{study.doctor}}" required=''>

      </div>
    <div class='box-container'>
      <div class='box-grid'>
        
        <label for='peso'>Peso(kg): </label>
        <input id='peso'name='weight'type="int" value="{{study.weight}}">
        
        <label for='Altura'>Altura(cm): </label>
        <input name='height' type="int" value="{{study.height}}" required=''>
        
        <label for='tas'>TAS(mmHg): </label>
        <input name='tas'  type="int" value="{{study.tas}}" required=''>
        
        <label for='tad'>TAD(mmHg): </label>      
        <input name='tad'  type="int" value="{{study.tad}}" required=''>
        
        <label for='pulse'>Pulso(lpm): </label>
        <input name='pulse' type="int" value="{{study.pulse}}" required=''>
      </div>
      <div class='box-grid'>
       
        <label for='chol_level'>Col Total(mg/dl): </label>
        <input name='chol_level' type="int" value="{{study.chol_level}}">
        
        <label for='hdl_level'>HDL(mg/dl): </label>
        <input name='hdl_level' type="int" value="{{study.hdl_level}}">
        
        <label for='ldl_level'>LDL(mg/dl): </label>
        <input name='ldl_level' type="int" value="{{study.ldl_level}}">
        
        <label for='tri_level'>Triglic(mg/dl): </label>
        <input name='tri_level' type="int" value="{{study.tri_level}}">
        
        <label for='glucemia'>Glucemia(mg/dl): </label>
        <input name='glucemia' type="int" value="{{study.glucemia}}">
      </div>
      
      <div class='box-grid'>
      
        <label for='hba1c'>HbA1c(%): </label>
        <input name='hba1c' type="int" value="{{study.hba1c}}" required=''>

        <label for='ac_uric'>Acido Urico(mg/dl): </label>
        <input name='ac_uric'  type="int" value="{{study.ac_uric}}" required=''>
       
        <label for='creat'>Creat(mm/dl): </label>
        <input name='creat'  type="int" value="{{study.creat}}" required=''>

        <label for='peso'>TSH(mIU/L): </label>
        <input name='tsh'  type="int" value="{{study.tsh}}" required=''>

        <label for='pcr'>PCR u(ng/ml): </label>
        <input name='pcr'  type="int" value="{{study.pcr}}" required=''>

      </div>
      <br>
    </div>
        <input name='comments' style='width: 100%;' type="text" value="{{study.comments}}">


    <div style='width:100%; text-align: center;'>
    <button type="submit">Guardar</button>
  </div>
</form>


{% endblock %}