{% extends 'navbar_3.html' %}
{% block content %}
{% load static %}

<div class="container-list">
  <body>
  <div class='box-35' style='width:100%; text-align:center;'>
    <h4>Estudio del {{study.date}}</h4><br>
  </div>
  <div class='box-33' style='padding:0px; float:left;'>
    <table>
      <tr>
        <td style="background: #4A97D4; color:white;">Peso (kg): </td><td>{{study.weight}}</td>
      </tr>
      <tr>
        <td style="background: #4A97D4; color:white;">Altura (cm):  </td><td>{{study.height}}</td>
      </tr>
      <tr>
        <td style="background: #4A97D4; color:white;">TAS (mmHg): </td> <td>{{study.tas}}</td>
      </tr>
      <tr>
        <td style="background: #4A97D4; color:white;">TAD (mmHg): </td> <td>{{study.tad}}</td>
      </tr>
      <tr>
        <td style="background: #4A97D4; color:white;">Pulso (lpm): </td> <td>{{study.pulse}}</td>
      </tr>
    </table>
  </div>
  <div class='box-33' style='width:36%'>
    <table>
      <tr>
        <td style="background: #4A97D4; color:white;">Col Total (mg/dl): </td><td> {{study.diabetes_chol_level}}</td>
      </tr>
      <tr>
        <td style="background: #4A97D4; color:white;">HDL (mg/dl): </td><td>{{study.diabetes_hdl_level}}</td>
      </tr>
      <tr>
        <td style="background: #4A97D4; color:white;">LDL (mg/dl): </td><td>{{study.diabetes_ldl_level}}</td>
      </tr>
      <tr>
      <td style="background: #4A97D4; color:white;">Triglic (mg/dl): </td><td>{{study.diabetes_tri_level}}</td>
      </tr>
      <tr>
      <td style="background: #4A97D4; color:white;">Glucemia (mg/dl): </td><td>{{study.glucemia}}</td>
      </tr>
    </table>
  </div>
  <div class='box-33'>
    <table>
      <tr>
      <td style="background: #4A97D4; color:white;">HbA1c(%): </td><td> {{study.hba1c}}</td>
      </tr>
      <tr>
      <td style="background: #4A97D4; color:white;">Ac Urico (mg/dl): </td><td> {{study.ac_uric}}</td>
      </tr>
      <tr>
      <td style="background: #4A97D4; color:white;">Creat (mm/dl): </td><td> {{study.creat}}</td>
      </tr>
      <tr>
      <td style="background: #4A97D4; color:white;">TSH (mIU/L): </td><td> {{study.tsh}}</td>
      </tr>
      <tr>
      <td style="background: #4A97D4; color:white;">PCR u (ng/ml): </td><td> {{study.pcr}}</td>
      </tr>
    </table>
  </div>
  <div class="box-65">
    {% if study.photo %}
    <img src="{{study.photo.url}}" alt="img">
    {% endif %}
  </div>


  </body>
</div>
{% endblock %}



